* {

}

body {
    background-color:rgb(238, 238, 238);
}
ul {
    padding: 0;
    list-style: none;
}
.navbar{
    width: 100%;
    padding:0px 5%;
    position: fixed;
    z-index: 1;
}
.push-down {
    padding-top: 50px;
}
#icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: gray;
    float: left;
   margin: 4px;
}
#suggestedProfilePic, #currentUserProfilePic{
    float: left;
    margin-left: 0px;
    margin-right: 5px;
}
#suggestedProfilePic img{
    max-width: 45px;
    max-height: 45px;
}
.roundedEdge{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    text-align: center;
}
.button-margin {
    margin-bottom: 10px;
}
.sugeridos, .perfil, .tendencias {
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: white;
}
.posting {
    padding: 10px;
    margin-top: 15px;
    background-color: rgb(219, 242, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.justify-text {
    padding: 15px 0;
}
.card {
    width: 100%;
}
.profilePicPost img {
    margin: 0px;
    max-height: 35px;
    max-width: 35px;
}
form, .form-group {
    margin: 0px;
}

.login-group {
    margin-bottom: 10px;
}
.list-group-item {
    padding: 12px 0px;
}